nav ul {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin-left: 0px;
    padding-left: 0px;
}

nav ul li {
    list-style: none;
    margin-bottom: 10px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 15px 30px;
}

nav a {
    display: inline-block;
    color: #000;
    text-decoration: none;
}

nav a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: orangered;
    transition: width .3s;
}

nav a:hover::after {
    width: 100%;
    background: blue;
}

/* nav {
    display: block;
    margin: 0 auto;
    text-align: center;
}

nav ul {
    margin-left: 0px;
    padding-left: 0px;
}

nav ul li {
    display: inline-block;
    padding: 15px 25px;
    list-style: none;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 15px 25px;
}

nav a:hover {
    color: black;
    border-bottom: 2px solid black;
} */

/* 
nav a:link { 
    color: #000;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
 }
nav a:hover { 
    -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
    -moz-animation: neon2 1.5s ease-in-out infinite alternate;
    animation: neon2 1.5s ease-in-out infinite alternate;
    color: #ffffff;
 }
nav a:visited { 
    text-align: center;
    font-size: 1.5em;
    color: #228DFF;
    font-family: Helvetica;
    font-size: 2.5rem;
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
nav a:visited:hover { 
    -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
    -moz-animation: neon2 1.5s ease-in-out infinite alternate;
    animation: neon2 1.5s ease-in-out infinite alternate;
    color: #ffffff;
 }


@keyframes neon2 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
    }
}

@-moz-keyframes neon2 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
    }
}

@-webkit-keyframes neon2 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
    }
} */